<div class="user-list">
	<h2>User List</h2>
	<div class="list-group">
		<% @users.each do |user| %>
			<%= link_to "#{user.name}", user_path(user.id), { class: "list-group-item" } %>
		<% end %>
	</div>
	<%= link_to "Add New Player", new_user_path, {class: "btn btn-default"} %>
</div>
