<div class="col-md-6 col-md-offset-3 user-list">
	<h2>User List (<%= @users.count %>)</h2>
	<div class="list-group">
		<table class="table list">
			<% @users.each do |user| %>
				<tr>
			        <% unless @userStats[user.id].nil? %>
			        	<td><%= "#{@userStats[user.id][1]}W" %></td>
			        	<td><%= "#{@userStats[user.id][0]}L" %></td>
			        <% end %>
			    </tr>
			<% end %>
		</table>
	</div>
	<%= link_to "Add New Player", new_user_path, {class: "btn btn-default"} %>
</div>
