<div class="character-list">
	<h1>All Characters (<%= @characters.count %>)</h1>
	<div class="list-group">
		<% @characters.each do |character| %>
	    <div class="col-xs-6 col-md-3 box">
			<div class="character-thumb" style="background-color: #<%= "#{character.colour}" %>;">
				<%= link_to image_tag("character-thumb/#{character.imagename}.png"), character %>
			</div>
	        <% unless @characterStats[character.id].nil? %>
	        	<%= "#{@characterStats[character.id][1]}W #{@characterStats[character.id][0]}L" %>
	        <% end %>
	    </div>
	    <% end %>
	</div>
</div>
